/*-BLOGS-HTML*/

.grid-container {
  max-width: 980px;
  margin: auto 0;
}

.blogs-main {
  display: grid;
  /*---------primer contenedor*/
  .blogs-notice-container {
    background-color: #e6e9ed;
    padding: 0 50px 40px;
    .blogs-notice {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 2fr;
      .blogs-img-container {
        grid-column: 1;
        img {
          width: 90%;
        }
      }
    }
  }
}

/*----segundo contenedor-----*/
.blogs-info-container {
  grid-column: 2;
  p {
    margin-bottom: 35px;
  }
  .blogs-button {
    border: 1px solid #47cfac;
    padding: 10px 15px;
    font-size: 12px;
  }
}

/*------------ CONTENEDORES  POST 06-----------*/
.blogs-post-container {
  padding: 0 50px 40px;
  h3 {
    border-bottom: 1px solid #cdd2da;
    padding-bottom: 10px;
    text-align: center;
  }
}

/*------------post 06------------*/
.blogs-post-container {
  .post-container {
    display: inline-block;
    background: #e6e9ed;
    padding-left: 10px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
    max-width: 30%;
    border-radius: 20px;
    img {
      padding-top: 10px;
      width: 98%;
      border-radius: 25px;
      text-align: center;
    }
  }
}
