/*index.html*/
.home-main {
  /*background: blue;*/
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 4fr 1fr;
  height: 100%;
  background: linear-gradient(rgba(17, 22, 32, 0.75), rgba(81, 91, 112, 0.75)),
    url("../assets/portada.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  section {
    display: grid;
    grid-column: 2;
    justify-items: center;
    height: 350px;
    margin-top: 80px;
    h1 {
      font-size: 30px;
      font-weight: 700px;
      letter-spacing: 10px;
      color: rgb(255, 255, 255);
      text-align: center;
    }
    .home-main-button {
      width: 110px;
      height: 50px;
      background: #3895c0;

      a {
        color: white;
        font-weight: 700px;
        font-size: 18px;
      }
    }
  }
}
